/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #000000 !default;
$secondary-color: #424BFF !default;
$primary-color: #EF3556 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: #fff !default;
$header-background-color: #2a2a2a !default;
//$footer-background-color: mix(#fff, $secondary-color, 90%) !default;
//$link-color: mix($secondary-color, $text-color, 10%) !default;
//$link-color-hover: mix(#fff, $link-color, 5%) !default;
//$link-color-visited: mix(#000, $link-color, 5%) !default;
$link-color: $secondary-color !default;
$link-color-hover: $primary-color !default;
$link-color-visited: mix(#000, $link-color, 5%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}