html{
        background-color: black;
 background-image: url(/assets/background-small.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

body{
    
    font-family: 'Inter', sans-serif;
    
    color: aliceblue;   
    cursor:crosshair;
    
    background-color: #000000cc;
    border-radius: 3em;
}


.main-content{
    
    
    padding-top: 5em;
    
    margin:auto;
    text-align: center;
    width:80%;
    max-width: 600px;
    min-width: 300px;
    
}

.header-image{
    
    width: 40%;
    margin: auto;
    animation-timing-function: ease-in-out;
     -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    
    
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}



img{
    width: 100%;
    border-radius: 1000px;
}

img:hover{
    
}

h1{
    font-size: 3em;
}

h1:hover{
    color: goldenrod;
}

p{
    font-size: 1.5em;
    
}

a{
    text-decoration: none;
    font-weight: 600;
    color: dodgerblue;
    cursor:crosshair;

}

a:hover{
    color:goldenrod;
}

@media(max-width: 700px)
{
    .header-image{
        width:70%;
    }
    
    h1{
        font-size: 2.5em;
    }
    
    p{
        font-size: 1em;
    }
}

